<div id="recipe-results" class="container">
    {{#each this}}
    <div class="row">
        {{#each pair}}
        <div id="recipe-list" class="col-sm-8">
            <img src="{{image}}" alt="placeholder-image">
            <div id="recipe-details">
                <h1>{{title}}</h1>
                {{#if rating}}
                <label>Rating: <span class="recipe-rating">{{rating}}</span></label>
                {{else}}
                <label>Rating: This recipe has not been rated yet</label>
                {{/if}}
                <br>
                <label>Cost: ${{cost}}</label>
                <br>
                <a href="/view-recipe/{{id}}">View Recipe</a>
                <br>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>