<ul>
    {{#each recipes}}
    <li>
        <div>
            <h1>{{title}}</h1>
            {{#if rating}}
            <label>Rating: <span class="recipe-rating">{{rating}}</span></label>
            {{else}}
            <label>Rating: This recipe has not been rated yet</label>
            {{/if}}
            <br>
            <label>Cost: ${{cost}}</label>
            <br>
            <a href="/view-recipe/{{id}}">View Recipe</a>
            <br>
            <img src="{{image}}" alt="placeholder-image">
        </div>
    </li>
    {{/each}}
</ul>
