<h1 id="title">Recipe {{#recipe}}{{this.title}}{{/recipe}}</h1>

<ul>
    <li></li>
</ul>

<script src="/js/view-recipe.js"></script>

<div id="recipedetails">
    <h1>{{#recipe}}{{this.title}}{{/recipe}}</h1>
    <label>{{#recipe}}{{this.username}}{{/recipe}}</label>
    <ul>Ingredients List
        {{#each recipe}}
        <li>
            <span>Amount</span> <span>Measure</span> <span>{{this.item}}</span>
        </li>
        {{/each}}
    </ul>
    <h2>Method</h2>
    {{#each recipe}}
    <p>{{this.method}}</p>
    {{/each}}
    <img src="https://picsum.photos/250/150" alt="placeholder-image">
</div>

<script type="text/javascript" src="/js/view-recipe.js"></script>